@font-face {
    font-family: ptmono; /* Гарнитура шрифта */
    src: url(../fonts/ptmono.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: ubuntumono; /* Гарнитура шрифта */
    src: url(../fonts/ubuntumono.ttf); /* Путь к файлу со шрифтом */
  }
@font-face {
    font-family: arianamumono; /* Гарнитура шрифта */
    src: url(../fonts/arianamumono.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Cousine; /* Гарнитура шрифта */
    src: url(../fonts/Cousine.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: notcourier; /* Гарнитура шрифта */
    src: url(../fonts/notcourier.ttf); /* Путь к файлу со шрифтом */
}
