@font-face
{
    font-family: consolamono; /* Имя шрифта */

    src: url(../fonts/consolamono.ttf); /* Путь к файлу со шрифтом */
}
@font-face
{
    font-family: gunplay; /* Имя шрифта */

    src: url(../fonts/gunplay.ttf); /* Путь к файлу со шрифтом */
}
